<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/signup</title>
</head>
<body>
    {{template "_navbar.html"}}

    <form action="/login" method="post">
        <input type="text" name="username" id="" placeholder="username">
        <input type="password" name="password" id="" polaceholder="password">
        <button class='btn btn-default'>submit</button>
    </form>
    <br><br><br><br><br> <br>
    {{template "_footer.html"}}
</body>
</html>